{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h1>Bem-vindos ao Cadastro de Livros </h1><br/>

  <h3>Por favor, faça o login ou cadastre-se para fazer seu pedido:</h3><br/>

  <div class="container">
    <!-- Formulário de Login -->
    <form method="post" action="{% url 'account_login' %}">
      {% csrf_token %}
      <h2>Login</h2>
      <input type="text" name="login" placeholder="Nome de usuário ou email" required> <br/>
      <input type="password" name="password" placeholder="Senha" required>
      <button type="submit">Entrar</button>
    </form>

    <br/>
    <div class="social-login">
      <p>Ou faça login com:</p>
      <a href="{% provider_login_url 'google' %}" class="btn-google">Google</a> <br/>
      <a href="{% provider_login_url 'github' %}" class="btn-github">GitHub</a>
    </div>

    <!-- Formulário de Cadastro -->
    <div class="register">
      <p>Ainda não possui uma conta? Cadastre-se:</p>
      <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Endereço de email" required> <br/>
        <input type="password" name="password1" placeholder="Senha" required> <br/>
        <input type="password" name="password2" placeholder="Confirme a senha" required> <br/>
        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
</body>
</html>
